<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
</head>
  <body>
    
    <div class="container">
        <div style="background-color: #333; padding: 12px 20px; " class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img style="width:100%; height: 260px" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                </div>
                <div class="col-lg-6">
                    <h3 style="color: white; text-shadow: 2px 2px 5px #0fe20c;" class="display-4 text-center">Brand-Name High Land coffee</h3>
                    <p style="color:white" class="text text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>                    
                </div>
            </div>
        </div>
        
        <div class="jumbotron">
            <h4 class="display-4"><i class="far fa-building"></i> Chi nhánh</h4>
            <select style="width:30%" class="custom-select mt-2 mb-2">
                <option selected>Đà Nẵng</option>
                <option value="https://getbootstrap.com">Huế</option>
                <option value="2">Hà Nội</option>
                <option value="3">TP HCM</option>
            </select>
            <hr class="my-2">
            <div class="row">
                <div class="card col-3">
                    <a href="https://fontawesome.com/icons/coffee?style=solid"><img class="card-img-top" src="https://bit.ly/2KCfLdo"
                            alt=""></a>
                    <div class="card-body">
                        <a href="#">
                            <h4 class="card-title">Store-name</h4>
                        </a>
                        <p class="card-text">Address</p>
                    </div>
                </div>

                <div class="card col-3">
                    <img class="card-img-top" src="img/poster2.jpg" alt="">
                    <div class="card-body">
                        <a>
                            <h4 class="card-title">Srore-name</h4>
                        </a>
                        <p class="card-text">Text</p>
                    </div>
                </div>

                <div class="card col-3">
                    <img class="card-img-top" src="https://bit.ly/2KCfLdo" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Srore-name</h4>
                        <p class="card-text">Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>