<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="container">
        <div style="background-color: #333; padding: 12px 20px; " class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img style="width:100%; height: 260px" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
                    <!-- <div class="view overlay">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(3).jpg" class="img-fluid " alt="">
                        <div class="mask flex-center rgba-red-strong">
                            <p class="white-text">Strong overlay</p>
                        </div>
                    </div> -->
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Store-name</h4>
                        </div>
                        <div class="card-body px-3">
                            <p class="card-text"><i class="far fa-compass"></i> Address</p>
                            <p class="card-text">State</p>
                            <p class="card-text"><i class="far fa-clock"></i> Working-time</p>
                        </div>
                        <div class="card-footer text-muted">
                            Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="jumbotron col-lg-8">
                    <h1 class="display-4"><i class="far fa-list-alt"></i> MENU</h1>
                    <p class="lead">Jumbo helper text</p>
                    <hr class="my-2">
                    
                    <div style="background-color: ghostwhite;" class="row border border-success rounded py-lg-2">
                        <div class="col-lg-3">
                            <a><img style="width:100%; height:100px" class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRnZKqceG_00kxzD6iLWBGTfv1xx_rQgmo-ZfUQw4ubfgKbodB" alt="dish"></a>
                        </div>
                        <div class="col-lg-6">
                            <p>Taco Noodle Dish</p>
                            <small>Còn hàng</small>
                        </div>
                        <div class="col-lg-3 ">
                            <button class="btn btn-success btn-block my-lg-4"><i style="color:white" class="fas fa-plus-circle"></i> Thêm</button>
                        </div>
                    
                    </div>

                    <!-- <p class="lead">
                        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
                    </p> -->
                </div>

                <div style="margin:20px 0; padding-right: 0;" class="col-lg-4">
                    <div class="shadow bg-light p-lg-3 border border-success rounded">
                        <p style="font-size:40px; color:#28a745; text-shadow: 2px 2px 5px #0fe20c;" class="text-center display-4">Basket</p>
                        <p class=""><span class="title">Tổng: </span><span style="float:right">0đ</span></p>
                        <button class="btn btn-success btn-block">Đặt món</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>