/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

/* html,body{
background-image: url('https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
} */
.card-body i{
  color: black;
}
.background-aut{
  background-image: url(https://images.pexels.com/photos/212324/pexels-photo-212324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;
  background-size:cover; 
  position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
}
#authentication .card {
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5);
  padding: .75rem 1.25rem;
}
#authentication .card{
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) ;
  }
#top-icon i{
  color: #88e552;
}

#top-icon i:hover{
  color: #09ab09;
}

span.input-group-text{
  background: linear-gradient(to right, rgb(86, 171, 47), rgb(168, 224, 99));
}
.container{
height: 100%;
align-content: center;
}



.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #88e552;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
/* top: -43px; */
top: 14px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #88e552;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: #09ab09;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}